<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Dashboard</h3>
            </div>
    
            <ul class="list-unstyled components">
                <li [class.active]="router.isActive('/admin', true)">
                    <a routerLink="/admin">Cathalogues</a>
                </li>
                <br>
                <li [class.active]="router.isActive('/reclamationadmin', true)">
                    <a routerLink="/reclamationadmin">Les reclamations</a>
                </li>
                <br>
                <li [class.active]="router.isActive('/ajouterproduit', true)">
                    <a href="/ajouterproduit">Ajouter produit</a>
                </li>
                <li [class.active]="router.isActive('/order', true)">
                    <a href="/order">MyOrders</a>
                </li>
                <br>
                <div class="logout-wrapper">
                    <button class="btn  logout-button" (click)="logout()">Logout</button>
                </div>
            </ul>
    
        </nav>
    
        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
            <div class="input-container">
                <label for="sujet">Libele:</label>
                <input type="text" id="libele" name="libele" [(ngModel)]="produit.libele" required>
              </div>
              <div class="input-container">
                <label for="description">Description:</label>
                <textarea id="description" name="description" [(ngModel)]="produit.description" required></textarea>
              </div>
              <div class="input-container">
                <label for="prix">Prix:</label>
                <textarea id="Prix" name="Prix" [(ngModel)]="produit.prix" required></textarea>
              </div>
              <div class="input-container">
                <label for="image">Image:</label>
                <textarea id="image" name="Image" [(ngModel)]="produit.image" required></textarea>
              </div>
              
              <button class="btn2" (click)="AjouterProduit()">Ajouter</button>
            </div>
        </div>
        
     </body>