<body>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>

        <ul class="list-unstyled components">
            <li [class.active]="router.isActive('/dashboard', true)">
                <a routerLink="/dashboard">Mes Ruches</a>
            </li>
            <br>
            <li [class.active]="router.isActive('/historique', true)">
                <a routerLink="/historique">Historique des reclamations</a>
            </li>
            <br>
            <li [class.active]="router.isActive('/ajouterreclamation', true)">
                <a href="/ajouterreclamation">Ajouter reclamation</a>
            </li>
            <li [class.active]="router.isActive('/order', true)">
                <a href="/order">MyOrders</a>
            </li>
            <br>
            <div class="logout-wrapper">
                <button class="btn  logout-button" (click)="logout()">Logout</button>
            </div>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
        <div class="card-deck">
            <div class="card" *ngFor="let ruche of ruche">
            <img class="card-img-top" [src]="ruche.image" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ ruche.libele }}</h5>
            <p class="card-text">Humidité: {{ ruche.humidite }}</p>
            <p class="card-text">Température: {{ ruche.temperature }}</p>
            <p class="card-text">Poids: {{ ruche.poids }}</p>
            <p class="card-text">Motion: {{ ruche.motion }}</p>
            
            </div>
         </div>
</div>

    </div>
       
</div>
